<div mat-dialog-title>
    <h1>Cadastro de Pacientes</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearence="outline">
                <mat-label>Primeiro Nome</mat-label>
                <input matInput type='text' placeholder="Fulano" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearence="outline">
                <mat-label>Último Nome</mat-label>
                <input matInput type='text' placeholder="Beltrano" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearence="outline">
                <mat-label>E-mail</mat-label>
                <input matInput type='email' placeholder="fulano@email.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearence="outline">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-radio-group aria-label="Selecione uma Opção" formControlName="genero">
                <mat-label>Gênero:</mat-label>
                <mat-radio-button value="Masculino">Masculino</mat-radio-button>
                <mat-radio-button value="Feminino">Feminino</mat-radio-button>
                <mat-radio-button value="Outro">Outro</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div mat-dialog-actions id="action">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
</form>